/* Suppression de la boîte blanche */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* En-tête */
header {
    background-color: #f4f4f4;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

header h1 {
    font-family: 'Nickainley', serif;
    font-size: 24px;
    color: #333;
    margin: 0;
}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav a:hover {
    color: #b08b6e; /* Couleur hover */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* En-tête de page */
.header h1 {
    font-size: 2.3rem;
    font-family: 'Georgia', serif;
    color: #8B4513;
    margin: 20px 0;
    text-align: center;
}

/* Style pour le titre de section */
h3 {
    font-size: 1.5rem;
    font-family: 'Glass Antiqua', sans-serif;
    color: #8B4513;
    margin-bottom: 20px;
    text-align: center;
}

/* Mise en page du formulaire */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Grille harmonisée pour les champs de formulaire */
.form-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

label {
    font-size: 1rem;
    color: #333;
    text-align: center;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 20px; /* Coins arrondis */
    text-align: center;
}

/* Bouton de soumission */
.submit-btn {
    padding: 12px 24px;
    font-size: 1rem;
    background-color: #A0522D;
    color: white;
    border: none;
    border-radius: 25px; /* Bouton arrondi */
    cursor: pointer;
    margin-top: 50px;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color:  #A0522D;
}


/* Résultats */
.result-display {
    margin-top: 30px;
    text-align: center;
}

.result-display h4 {
    font-size: 22px;
    color: #A0522D;
    line-height: 1.6;
    font-family: 'Glass Antiqua', sans-serif;
}
